* {
  box-sizing: border-box;
}

html {
  font: 10px sans-serif;
}
body {
  box-sizing: border-box;
  margin: 0px;
}

button {
  border: none;
  background-color: #f1544d;
  color: #ffffff;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

input {
  width: 200px;
  height: 30px;
}

#react-page {
  height: 100%;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}
