body {
  font: 12px sans-serif;
  text-align: center;
  margin: 15px;
  box-sizing: border-box;
}

.login > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: #f1544d;
  color: #ffffff;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

input {
  width: 200px;
  height: 30px;
}
