.header {
  display: flex;
  height: 8rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  margin: 0rem;
  padding: 0rem;
}

.header .header-name {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
}

.header .kebab > .avatar {
  border-radius: 100%;
  cursor: pointer;
}

.header .kebab > .dropdown {
  display: none;
}
