.header {
  display: flex;
  height: 8rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  margin: 0rem;
  padding: 0rem;
}

.header .header-name {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
}

.header .kebab > .avatar {
  border-radius: 100%;
  cursor: pointer;
}

.header .kebab {
  position: relative;
}

.header .kebab .dropdown {
  position: absolute;
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  margin: 0rem;
  margin-top: 0.3rem;
}

.header .kebab .dropdown li {
  padding: 0.5rem;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: black;
  border-radius: 0.5rem;
  min-width: 7rem;
}

.header .kebab .dropdown li:hover {
  background-color: #ccc;
}
