.search {
  padding: 0.5rem;
}

.search .title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.search button.back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  color: black;
  width: fit-content;
  cursor: pointer;
  border: 1px solid #ccc;
}
