.my-palettes h3 {
  margin: 0rem;
  text-align: center;
}

.my-palettes {
  padding: 0.5rem;
}

.my-palettes .palettes-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.my-palettes .palette {
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.my-palettes .palette__colors {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 10rem;
  overflow: auto;
}

.my-palettes .palette__color {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding: 0.5rem;
}

.my-palettes .palette__color > h5,
p {
  margin: 0rem;
}

.my-palettes .palette__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-top: none;
}

.my-palettes .generate-button {
  align-self: center;
}

.my-palettes .title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0rem;
}

.my-palettes button.reload,
.my-palettes button.add-to-figma {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  color: black;
  width: fit-content;
  cursor: pointer;
  border: 1px solid #ccc;
}

.palette__name {
  font-size: 1.2rem;
  font-weight: 500;
}

.floating-action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f1544d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;  
  line-height: 0; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.floating-action-button:hover {
  background-color: #f03c32;
}

.download-section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.download-button {
  display: flex;
  align-items: center;
  background-color: #c2dcce;
  color: rgb(3, 3, 3);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin: 1rem;
}

.download-button:hover {
  background-color: #35c076;
}

.android-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}
