.palette-details {
  padding: 0.5rem;
}
.palette-details h3 {
  margin: 0rem;
  margin-top: 1rem;
  text-align: center;
}

.palette-details .palette__colors {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.palette-details .palette__color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0.5rem;
}

.palette-details .copy {
  position: relative;
  padding: 0.4rem;
  cursor: pointer;
}

.palette-details .copy .tooltip {
  position: absolute;
  padding: 0.4rem;
  background-color: #fff;
  color: black;
  top: -1.6rem;
  font-size: 1rem;
  left: -0.5rem;
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.5);
}
